<p>
  <strong>name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>chocolate:</strong>
  <%= @survey.chocolate %>
</p>

<p>
  <strong>rainbows:</strong>
  <%= @survey.rainbows %>
</p>

<p>
  <strong>puppies</strong>
  <%= @survey.puppies %>
</p>


</div>
